<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Application</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
	</div>
<div class="modal-body">
  <app-application-form [disabled]="loading" [(application)]="application"></app-application-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
  <div class="form-group" *ngIf="application._id">
    <button class="btn btn-danger btn-block"  (click)="delete()">Delete</button>
  </div>
  <div class="form-group" *ngIf="!application._id" >
    <button class="btn btn-primary btn-block" (click)="save()"><span class="ms-1" translate>save</span></button>
  </div>
  <div class="form-group" *ngIf="application._id" >
    <button class="btn btn-primary btn-block" (click)="update()">Update</button>
  </div>
</div>

